body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: 100%;
  align-items: center;
  overflow-y: scroll;
  background-color: #212121;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
  padding: 0px;
  margin: 0px;
  color: white;
}

/* The Modal (background) */
.modal {
    font-family: Arial, Helvetica, sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: black;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 25px;
    border: 1px solid #888;
    width: 20%;
    text-align: center;
    border-radius: 3px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  color: white;
}
button.address {
  background-color: unset;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: middle;
  display: inline;
}
button.login {
  background-color:#696b69;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:11px;
  padding:7px 17px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.title {
    display: block;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    width: 100%;
    font-size: 26px;
    box-sizing: border-box;
    text-align: center;
}
table {
  word-break: break-word;
  border-collapse: collapse;
}
.fa {
  color: white
}
.container.tx {
    left: 50%;
}
@media screen and (max-width: 430px) {
  .modal {
    padding-top: 50%; /* Location of the box */
  }
  .modal-content {
      width: 75%;
  }
}
